<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.whosthatpokemon">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhosThatPokemon"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WhosThatPokemon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ResultActivity1"
            android:exported="false" />

        <activity
            android:name=".NextPokemone1"
            android:exported="false"
            android:label="@string/title_activity_next_pokemone1"
            android:theme="@style/Theme.WhosThatPokemon" />

        <activity
            android:name=".NextPokemone2"
            android:exported="false" />

        <activity
            android:name=".NextPokemon3"
            android:exported="false" />

        <activity
            android:name=".NextPokemon3Reveal"
            android:exported="false" />

        <activity
            android:name=".NextPokemon4"
            android:exported="false" />

        <activity
            android:name=".NextPokemon4Reveal"
            android:exported="false" />

    </application>
</manifest>
